.App {
  text-align: center;
}

body {
  background-color: rgb(227, 114, 0);
}

.home {
  background-image: url(https://images.unsplash.com/flagged/photo-1568004614679-c938da0922fb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGdyb2NlcnklMjBzdG9yZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-color: rgb(215, 162, 12);
  background-position: 5px 5px;
  background-size: cover;
}

.listings,
.navbar {
  display: flex;
}

.home,
.home div {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home div {
  height: 40em;
  width: 30em;
}

.price {
  color: white;
  font-size: 25px;
  width: 625px;
  margin: 15px -195px;
}

h2 {
  text-align: left;
  font-weight: normal;
}

h1 {
  font-family: 'Georgia';
}

h3 {
  font-size: 25px;
  margin: -1px 10px;
  font-family: 'Racing Sans One', cursive;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(212, 1, 18);
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
  font-size: 24px;
}

.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 0.5em;
  background-color: rgb(212, 1, 18);
}

.store-display {
  display: flex;
  background-color: orange;
}

button {
  padding: 0.5em 2em;
  background-color: white;
  font-family: 'Georgia';
  font-weight: bold;
  cursor: pointer;
  margin-top: -500px;
}

.food-card {
  padding: 1em;
  width: 250px;
  height: 250px;

  margin: 30px -60px;
  margin-left: 200px;
  justify-content: space-around;

  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.listings {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

img {
  margin-top: 11px;
  height: 100px;
  width: 150px;
}
